@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-35deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes transitionInBtn {
  from {
    opacity: 0;
    transform: rotateY(-35deg);
  }

  to {
    opacity: 1;
    transform: rotateY(0);
  }
}

@keyframes t {
  90%,
  100% {
    width: 100%;
  }
}

@keyframes c {
  0%,
  100% {
    box-shadow: 5px 0 0 #0000;
  }
  50% {
    box-shadow: 5px 0 0 white;
  }
}

@keyframes m {
  100% {
    transform: translateY(-400%);
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

.full-height {
  height: 100%;
  /* background: yellow; */
}

body {
  width: 100%;
  margin: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-family: "Poiret One", cursive;
  background: rgba(0, 0, 0, 0.74);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to right top, hsla(0, 5%, 15%, 0.5), hsla(0, 5%, 5%, 1));
  background-image: -moz-linear-gradient(to right top, hsla(0, 5%, 15%, 0.5), hsla(0, 5%, 5%, 1));
}

#canv {
  width:  100%;
  height: 100%;
}

#name {
  animation: transitionIn 5s;
  text-align: center;
  width: 100%;
  color: #f9f5f9;
  font-size: 6em;
  text-shadow: 1px 1px hsla(0, 0%, 5%, 1), -1px -1px hsla(0, 0%, 5%, 1);
  letter-spacing: 6px;
  text-align: center;
  position: relative;
  margin-top: 40vh;
  margin-bottom: 5vh;
}

#btn-container {
  text-align: center;
 
}

#btn {
  opacity: 1;
  font-family: "Poiret One", cursive;
  animation: transitionInBtn 8s;
  background-color: #b15e27;
  color: #ffffff;
  letter-spacing: 5px;
  font-size: 2em;
  padding: 1.25%;
  border-radius: 10px;
  border: none;
}

#btn:hover {
  background-color: #dd7732;
  cursor: pointer;
}

#btn:active {
  background-color: #dd7732;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}



