@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-35deg);
  } 

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes transitionInBtn {
  from {
    opacity: 0;
    transform: rotateY(-35deg);
  } 

  to {
    opacity: 1;
    transform: rotateY(0);
  }
}


@keyframes t{
  90%,100% {width:100%}
}

@keyframes c{
  0%,100%{box-shadow:5px 0 0 #0000}
  50%    {box-shadow:5px 0 0 white}
}


@keyframes m{
  100% {transform:translateY(-400%)}
}

html, body {
  height: 100%;
  margin: 0;

}

.full-height {
  height: 100%;
  /* background: yellow; */
}

body {
  width: 100%;
  margin: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-family: 'Poiret One', cursive;
  background: rgba(0, 0, 0, 0.74);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to right top, hsla(0, 5%, 15%, 0.5), hsla(0, 5%, 5%, 1));
  background-image: -moz-linear-gradient(to right top, hsla(0, 5%, 15%, 0.5), hsla(0, 5%, 5%, 1));
}

nav {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  min-height: 6vh;
  color: white;
  align-self: center;
  background-color:  hsla(76, 96%, 56%, 0.562);
}

.logo{
  height: 80%;
  grid-column: 2/3;
  justify-self: start;
  padding: 5px;
}

.burger {
  grid-column: 3/3;
  justify-self: end;
   height: 80%;
   padding: 5px;
}

#canv {
  margin-top: 6vh;
}

#name{
  animation: transitionIn 5.0s;
  text-align:center;
  width:100%;
  color:#f9f5f9;
  font-size:6em;
  text-shadow:1px 1px hsla(0,0%,5%,1),
          -1px -1px hsla(0,0%,5%,1);
  letter-spacing: 6px;
  text-align: center;
  position: relative;
  margin-top: 40vh;
}

#btn-container{
  text-align: center;
  position: relative;

}

#btn {
  
  font-family: 'Poiret One', cursive;
  animation: transitionInBtn 8s;
  background-color: #f9f5f9;
  color: #000000;
  letter-spacing: 5px;
  font-size:2em;
  padding: 1.25%;
  border-radius: 10px;
  border: none;
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/* 
.type-container {
  text-align: center;
  align-self: center;
  align-items: center;
  align-content: center;
} */

.type {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  animation: transitionIn 4.0s, typewriter 2s steps(13) infinite alternate,
    blink 800ms steps(13) infinite normal;
    /* animation: transitionIn 6.0s; */

  color: greenyellow;
  margin:auto;
}
@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}
@keyframes blink {
  from {
    border-color: black;
  }
  to {
    border-color: transparent;
  }
}