@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@-webkit-keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateY(-20deg);
            transform: rotateY(-20deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}
@keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateY(-20deg);
            transform: rotateY(-20deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

@-webkit-keyframes transitionInNav {
  from {
    opacity: 0;
    -webkit-transform: rotateY(-20deg);
            transform: rotateY(-20deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

@keyframes transitionInNav {
  from {
    opacity: 0;
    -webkit-transform: rotateY(-20deg);
            transform: rotateY(-20deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

:root {
  --color-background: #151818;
  --color-text: whitesmoke;
  --color-chill: #dd7732;
  --marquee-font-size: min(max(12px, 2vw), 22px);
  --headline-font-size: min(max(40px, 6vw), 70px);
  --paragraph-font-size: min(max(16px, 4vw), 22px);
  --section-heading-font-size: min(max(30px, 4vw), 50px);
  --duration: 300ms;
  --ease: cubic-bezier(0.33, 1, 0.68, 1);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body {
  background-color: var(--color-background);
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  width: 100%;
  -webkit-transition: background-color var(--duration) var(--ease);
  transition: background-color var(--duration) var(--ease);
}

nav {
  z-index: 2;
  padding: 0.5rem 1rem;
}

menu-wrap {
  padding-top: 0;
}

.page-content {
  z-index: 1;
  -webkit-animation: transitionIn 0.75s;
          animation: transitionIn 0.75s;
  max-width: 90ch;
  padding: 5rem;
  padding-top: 1rem;
  margin: 7rem auto;
  margin-bottom: 1rem;
  margin-top: 5rem;
  font-size-adjust: 0.55;
}

.page-content a {
  color: #fff;
}

.page-content h1 {
  font-size: var(--headline-font-size);
  font-weight: 700;
  line-height: 1.2;
}

.page-content h2 {
  font-size: 5vh;
  margin-top: 6rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Poiret One", cursive;
}

.page-content em {
  font-style: italic;
}

.page-content p {
  font-family: "Poppins", sans-serif;
}

.welcome, .tools .profile, .popup-outer {
  font-size: 2vh;
}

.page-content__section {
  -webkit-transition: opacity var(--duration) var(--ease);
  transition: opacity var(--duration) var(--ease);
}

.page-content__section h2 {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.anchor {
  position: absolute;
  -webkit-transform: translateY(-18vh);
          transform: translateY(-18vh);
}

.page-content__section.active {
  opacity: 1;
}

.page-content__section.active h2 {
  -webkit-animation: activate calc(var(--duration) * 2) var(--ease) forwards;
          animation: activate calc(var(--duration) * 2) var(--ease) forwards;
}

@-webkit-keyframes activate {
  25% {
    color: var(--color-chill);
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  40% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  60% {
    color: var(--color-text);
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  65%,
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes activate {
  25% {
    color: var(--color-chill);
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  40% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  60% {
    color: var(--color-text);
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  65%,
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .page-content__section.active h2 {
    -webkit-animation: none;
            animation: none;
  }
}

.marquee-container {
  z-index: 1;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 1;
  margin-top: 100px;
}

.marquee {
  z-index: 1;
  position: absolute;
  font-size: var(--marquee-font-size);
  line-height: 1;
  font-family: "Poiret One", cursive;
  white-space: nowrap;
  letter-spacing: 0.25rem;
  overflow: hidden;
  padding: 2vmin 0;
  min-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: var(--color-background);
  -webkit-box-shadow: var(--color-background) 0 2vmin 2vmin 1vmin;
          box-shadow: var(--color-background) 0 2vmin 2vmin 1vmin;
  -webkit-transition: background-color var(--duration) var(--ease), -webkit-box-shadow var(--duration) var(--ease);
  transition: background-color var(--duration) var(--ease), -webkit-box-shadow var(--duration) var(--ease);
  transition: background-color var(--duration) var(--ease), box-shadow var(--duration) var(--ease);
  transition: background-color var(--duration) var(--ease), box-shadow var(--duration) var(--ease), -webkit-box-shadow var(--duration) var(--ease);
}

.marquee--top {
  top: -1px;
}

.marquee--left {
  left: -1px;
  bottom: -6vmin;
  -webkit-transform: rotate(-0.25turn);
          transform: rotate(-0.25turn);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.marquee--right {
  left: calc(100% + 1px);
  top: 0;
  -webkit-transform: rotate(0.25turn);
          transform: rotate(0.25turn);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.marquee--bottom {
  bottom: -1px;
  right: 0;
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

.marquee div {
  opacity: 1;
  -webkit-transition: opacity var(--duration) var(--ease);
  transition: opacity var(--duration) var(--ease);
}

.marquee div.active {
  opacity: 0;
}

#profile-pic {
  max-width: 50%;
  float: left;
  padding-right: 2%;
}

.welcome {
  margin-top: 0;
}

html::-webkit-scrollbar {
  width: 20px;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
}

.logo-container {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding: 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-container {
  margin-bottom: 200px;
}

.left {
  float: left;
  text-align: center;
}

.right {
  float: right;
  text-align: center;
}

.logo-container .text {
  font-family: "Poppins", sans-serif;
  color: #666;
  font-size: 1.75vh;
  text-transform: capitalize;
  padding: 1.5%;
  cursor: pointer;
}

.logo-container .text:hover {
  color: #fff;
  position: relative;
  z-index: 100;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

.logo-container .text:hover ~ .hover-img {
  -webkit-transform: translate(-2%, -2%) scale(1);
          transform: translate(-2%, -2%) scale(1);
  opacity: 1;
}

.hover-img {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: absolute;
  -webkit-transform: translate(-2%, -2%) scale(0.5);
          transform: translate(-2%, -2%) scale(0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

.overlay {
  z-index: 1;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay-content {
  font-family: "Poiret One", cursive;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 2%;
  text-decoration: none;
  font-size: 3vh;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*# sourceMappingURL=portfolio.css.map */